<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


	<filter>
		<filter-name>jspFilter</filter-name>
		<filter-class>com.gym.utils.jspFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>jspFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>IndexAction</servlet-name>
		<servlet-class>com.gym.user.action.IndexAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginAction</servlet-name>
		<servlet-class>com.gym.user.action.LoginAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistAction</servlet-name>
		<servlet-class>com.gym.user.action.RegistAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MatchAction</servlet-name>
		<servlet-class>com.gym.user.action.MatchAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GroundAction</servlet-name>
		<servlet-class>com.gym.user.action.GroundAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EquipmentAction</servlet-name>
		<servlet-class>com.gym.user.action.EquipmentAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserAction</servlet-name>
		<servlet-class>com.gym.user.action.UserAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NoticeAction</servlet-name>
		<servlet-class>com.gym.user.action.NoticeAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HelpAction</servlet-name>
		<servlet-class>com.gym.user.action.HelpAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminIndexAction</servlet-name>
		<servlet-class>com.gym.admin.action.IndexAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminPersonnelAction</servlet-name>
		<servlet-class>com.gym.admin.action.PersonnelAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminMatchAction</servlet-name>
		<servlet-class>com.gym.admin.action.MatchAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminGroundAction</servlet-name>
		<servlet-class>com.gym.admin.action.GroundAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminEquipmentAction</servlet-name>
		<servlet-class>com.gym.admin.action.EquipmentAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminNoticeAction</servlet-name>
		<servlet-class>com.gym.admin.action.NoticeAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminReportAction</servlet-name>
		<servlet-class>com.gym.admin.action.ReportAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PunchCardAction</servlet-name>
		<servlet-class>com.gym.admin.action.PunchCardAction</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>IndexAction</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginAction</servlet-name>
		<url-pattern>/login.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistAction</servlet-name>
		<url-pattern>/regist.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MatchAction</servlet-name>
		<url-pattern>/match/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GroundAction</servlet-name>
		<url-pattern>/ground/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EquipmentAction</servlet-name>
		<url-pattern>/equipment/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserAction</servlet-name>
		<url-pattern>/user/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NoticeAction</servlet-name>
		<url-pattern>/notice/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelpAction</servlet-name>
		<url-pattern>/help/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminIndexAction</servlet-name>
		<url-pattern>/admin/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminPersonnelAction</servlet-name>
		<url-pattern>/admin/personnel/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminMatchAction</servlet-name>
		<url-pattern>/admin/match/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminGroundAction</servlet-name>
		<url-pattern>/admin/ground/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminEquipmentAction</servlet-name>
		<url-pattern>/admin/equipment/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminNoticeAction</servlet-name>
		<url-pattern>/admin/notice/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminReportAction</servlet-name>
		<url-pattern>/admin/report/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PunchCardAction</servlet-name>
		<url-pattern>/admin/punchcard/index.html</url-pattern>
	</servlet-mapping>
</web-app>
